@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Webapp</title>

	<!-- Global stylesheets -->
	<link href="~/assets/fonts/inter/inter.css" rel="stylesheet" type="text/css">
	<link href="~/assets/icons/phosphor/styles.min.css" rel="stylesheet" type="text/css">
	<link href="~/assets/css/ltr/all.min.css" id="stylesheet" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script src="~/assets/demo/demo_configurator.js"></script>
	<script src="~/assets/js/bootstrap/bootstrap.bundle.min.js"></script>

	<script src="~/assets/js/app.js"></script>
	<!-- /core JS files -->


</head>

<body>

<!-- Main navbar -->
<div class="navbar navbar-expand-lg navbar-dark navbar-static">
	<div class="d-flex flex-1 d-lg-none">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
			<i class="icon-paragraph-justify3"></i>
		</button>
		<button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
			<i class="icon-transmission"></i>
		</button>
	</div>

	<div class="navbar-brand text-center text-lg-left">
		<a href="/" class="d-inline-block">
			<img src="~/assets/images/logo_icon.svg" alt="">
			<img src="~/assets/images/logo_text_light.svg" class="d-none d-sm-inline-block h-16px ms-3" alt="">
		</a>
	</div>

	<div class="collapse navbar-collapse order-2 order-lg-1" id="navbar-mobile">
	</div>

	<ul class="navbar-nav flex-row order-1 order-lg-2 flex-1 flex-lg-0 justify-content-end align-items-center">

		<partial name="_LoginPartial"/>


	</ul>
</div>
<!-- /main navbar -->
<!-- Page content -->
<div class="page-content">

	<!-- Main sidebar -->
	<div class="sidebar sidebar-dark sidebar-main sidebar-expand-lg">

		<!-- Sidebar content -->
		<div class="sidebar-content">

			<!-- Main navigation -->
			<div class="sidebar-section">


				<ul class="nav nav-sidebar" data-nav-type="accordion">


					@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
					{
						<li class="nav-item-header">
							<div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Forms</div>
							<i class="ph-dots-three sidebar-resize-show"></i>
						</li>

						<li class="nav-item nav-item-submenu">
							<a href="#" class="nav-link">
								<i class="ph-layout"></i>
								<span>Admon Operadores</span>
							</a>
							<ul class="nav-group-sub collapse">
								<li class="nav-item">
									<a href="~/Operadores" class="nav-link">Operadores</a>
								</li>
								<li class="nav-item">
									<a href="~/DepartamentosOperador" class="nav-link">Departamentos</a>
								</li>
							</ul>
						</li>

						<li class="nav-item nav-item-submenu">
							<a href="#" class="nav-link">
								<i class="ph-layout"></i>
								<span>Planta</span>
							</a>
							<ul class="nav-group-sub collapse">
								<li class="nav-item">
									<a href="~/Planta/Areas" class="nav-link">Areas</a>
								</li>
								<li class="nav-item">
									<a href="~/Planta/Lineas" class="nav-link">Lineas</a>
								</li>
								<li class="nav-item">
									<a href="~/Planta/Estaciones" class="nav-link">Estaciones</a>
								</li>
								<li class="nav-item">
									<a href="~/Planta/Maquinas" class="nav-link">Maquinas</a>
								</li>
							</ul>
						</li>


						<li class="nav-item nav-item-submenu">
							<a href="#" class="nav-link">
								<i class="ph-layout"></i>
								<span>Usuarios Web</span>
							</a>
							<ul class="nav-group-sub collapse">
								<li class="nav-item">
									<a href="~/Identity/Account/Register" class="nav-link">Registrar usuario</a>
								</li>
								<li class="nav-item">
									<a href="~/Admin" class="nav-link">Modificar usuario</a>
								</li>
							</ul>
						</li>
					}

					<li class="nav-item nav-item-submenu">
						<a href="#" class="nav-link">
							<i class="ph-layout"></i>
							<span>Linealytics</span>
						</a>
						<ul class="nav-group-sub collapse">
							<li class="nav-item">
								<a href="~/Linealytics" class="nav-link">Modificar usuario</a>
							</li>
						</ul>
					</li>

				</ul>
			</div>
			<!-- /main navigation -->

		</div>
		<!-- /sidebar content -->

	</div>
	<!-- /main sidebar -->
	<!-- Main content -->
	<div class="content-wrapper">

		<div class="content-inner">
			<div class="content">
				@RenderBody()

			</div>
		</div>
	</div>
	<!-- /inner content -->


</div>
<!-- /page content -->
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
