@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {

        <li class="nav-item nav-item-dropdown-lg dropdown ms-lg-2">
					<a href="#" class="navbar-nav-link align-items-center rounded-pill p-1" data-bs-toggle="dropdown">
						<div class="status-indicator-container">
						</div>
						<span class="d-none d-lg-inline-block mx-lg-2">@User.Identity?.Name</span>
					</a>

					<div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">
                            <i class="ph-gear me-2"></i>
                            Administración
                        </a>
                        <a asp-controller="Home" asp-action="Logout" class="dropdown-item">
                            <i class="ph-user-circle me-2"></i>
                            Logout
                        </a>
					</div>


		</li>

    }
    else
    {

        <li class="nav-item h-100">
            <a class="navbar-nav-link navbar-nav-link-toggler d-inline-flex align-items-center h-100" asp-area="Identity" asp-page="/Account/Login">
                <span class="d-none d-lg-inline-block">Login</span>
            </a>
        </li>


    }
</ul>